/test*.py
__pycache__*/
build/
dist/
crashlink.egg-info/
*.hl
env/
.mypy_cache/
.pytest_cache/
hl/
*.dat
*.prof
*.json
!crashtest/runs/*
build*.bat
pypi_token.txt
testenv
.crashlink_debug
stubs/
*.pkl
memray*.*
*.hl.patch
local/
*.hdll
*.so
*.a
*.id*
*.nam
*.til
*.idb
*.i64
*crashlink_patch.py*
histogram.svg
test-docs/
deadcells/
.venv/
tests/haxe/*.c
tests/haxe/_std
tests/haxe/haxe
tests/haxe/hlc
test.c
tests/libhl.dll
tests/generate_hashes.exe
test_out/