/test*.py
__pycache__*/
build/
dist/
crashlink.egg-info/
*.hl
env/
.mypy_cache/
.pytest_cache/
hl/
*.dat
*.prof
*.json
!crashtest/runs/*
build*.bat
pypi_token.txt
testenv
.crashlink_debug
stubs/
*.pkl
memray*.*
*.hl.patch
local/
*.hdll
*.so
*.a
pyhl/Python-*
pyhl/python*
pyhl/include
pyhl/python.tar.xz
pyhl/libpython.a
pyhl/lib
pyhl/*.obj
pyhl/*.pdb
pyhl/*.exp
pyhl/*.ilk
pyhl/*.lib
*.id*
*.nam
*.til
*.idb
*.i64
*crashlink_patch.py*